.footer {
  background-color: #131212; /* Slightly darker than #F5F4F0 */
  color: #333;
  padding: 40px 0;
  border-top: 1px solid #d6d6d6;
  font-family: "Poppins", sans-serif;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.section h3, .section h4 {
  font-size: 0.8rem;
  margin-bottom: 12px;
  text-transform: uppercase;
   color: #e6dfdf;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 3px;

}

.section ul li a {
  color: #e6dfdf;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 0.7rem;
}

.section ul li a:hover {
  color: #dfd6d6;
}
.section p {
 color: #e6dfdf;
 font-size: 0.7rem;
  margin-bottom: 3px;

}
.socialIcons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
}

.socialIcons a {
  font-size: 1.4rem;
  color: #e7dede;           /* adjust based on your theme */
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: #e9dddd;           /* hover shade */
}

.socialSection {
  text-align: center; /* centers the heading and icons */
  margin-left: 100px; /* adjust value as needed */
}
